@{
    ViewData["Title"] = "Registracija2";
}

<div class="text-center">
    <h1 class="display-4">Uspešna registracija!</h1>
    <p>Vaši podatki: </p>

    @*<label>Ime: @Model.Ime </label> <br />
    <label>Priimek: @Model.Priimek</label> <br />
    <label>Datum rojstva: @Model.Vpisna_stevilka</label> <br />*@
    @*<label>EMŠO: </label> @Model.Leto_Zgradnje<br />
    <label>Kraj rojstva: @Model.Kraj_rojstva</label> <br />
    <label>Email: @Model.Email</label> <br />
    <label>Geslo1: @Model.geslo1</label> <br />
    <label>Geslo2: @Model.geslo2</label> <br />
    <label>Geslo2: @Model.geslo2</label> <br />*@


</div>
